body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
html {
    background: #fff;
    color: #1f1f1f;
    font: 15px/1.55 "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
td,th {
    border: 1px solid #ddd;
    padding: 3px 10px;
}
th {
    padding: 5px 10px;
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 1.2;
    margin: 15px 0;
}
h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 42px;
    text-align: center;
}
h2 {
    margin-top: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 16px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
li {
    margin: 5px 0;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    margin: 0 0 18px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 14px;
    line-height: 16px;
    background: #f8f8f8;
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: transparent;
    color:#737373;
    font-size: 13px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
  -webkit-print-color-adjust: exact;
}

@media print {
  body,code,pre code,h1,h2,h3,h4,h5,h6 {
    color: black;
  }
  table, pre {
    page-break-inside: avoid;
  }
}

@media screen {
    /* Header (Top level navigation) */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 44px;
        line-height: 44px;
        border-bottom: 1px solid #1f1f1f;
        background: #366683;
        color: #fff;
    }
    #logo {
        padding: 0 30px;
        font-size: 32px;
        font-weight: bold;
    }
    #nav {
        position: absolute;
        top: 0;
        left: 230px;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .nav-item {
        display: inline-block;
        margin: 0;
        padding: 7px 0;
        line-height: 30px;
    }
    .nav-link {
        display: block;
        margin: 0 3px;
        padding: 0 10px;
        color: #fff;
        text-decoration: none;
    }
    .nav-link:hover {
        background: #ecf0f3;
        border-radius: 5px;
        color: #366683;
    }

    /* Content */
    article {
        margin: 75px auto 30px;
        max-width: 700px;
        padding: 0 30px 0 260px;
    }
    #last-update {
        margin: -7px 0 15px;
        font-size: 13px;
        text-align: center;
    }
    /* Sidebar (Table of Contents) */
    aside {
        position: fixed;
        overflow: auto;
        top: 45px;
        bottom: 0;
        width: 229px;
        border-right: 1px solid #eee;
        background: #f8f8f8;
    }
    .toc {
        position: relative;
        margin: 0;
        padding: 15px 0;
        list-style: none;
        font-size: 13px;
    }
    .toc-selected {
        position: absolute;
        background: #e5eaed;
        -webkit-transition: all .2s;
           -moz-transition: all .2s;
             -o-transition: all .2s;
                transition: all .2s;
        left: 0;
        right: 0;
        top: 0;
        height: 0;
    }
    .toc-item {
        margin: 0;
        padding: 0;
    }
    .toc-link {
        display: block;
        padding: 4px 15px;
        color: inherit;
        text-decoration: none;
    }
    .toc-link:hover {
        color: inherit;
    }
    .toc-link:hover > span {
        border-bottom: 1px solid;
    }
    .toc-h2 {
        font-weight: bold;
    }
    .toc-h3 {
        padding-left: 15px;
    }
}
@media print {
    header,
    aside {
        display: none;
    }
}
